

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Optional: Adds some space between the buttons */
    flex-wrap: wrap; /* Optional: Allows the buttons to wrap to a new line if the window is too narrow */
}

button[name="close"] .icon {
    filter: invert(1);
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 30px;
    height: 30px;
}

.fish-icon {
    width: 80px; /* Adjust as needed */
    height: 80px; /* Adjust as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shake {
    animation: shake 2.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg)
    }
    4% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    8%, 24% {
        -webkit-transform: rotate(-18deg);
        transform: rotate(-18deg)
    }
    12%, 28% {
        -webkit-transform: rotate(18deg);
        transform: rotate(18deg)
    }
    16% {
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg)
    }
    20% {
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg)
    }
    32% {
        -webkit-transform: rotate(-12deg);
        transform: rotate(-12deg)
    }
    36% {
        -webkit-transform: rotate(12deg);
        transform: rotate(12deg)
    }
    40%, to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}